h1 {
    text-align: center;
    font-size: 300%;
    border: solid rgb(11, 228, 11);
}
h2{
    text-align: center;
}
p {
    text-align: center;
    text-decoration-color: greenyellow;
    font-size: medium ;
}

footer {
    position:absolute;
		bottom:0;
        text-align: center;
		width:100%;
		height:20px;
		background:rgb(11, 228, 11);
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
a {
    color: rgb(11, 228, 11);
}
li {
    color: rgb(11, 228, 11)
}

.MACIERZA {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    border: 1px solid black; 
    width: 50%; 
}