<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Przydatne definicje</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="top">
        <h1>Przydatne definicje</h1>
    </div>
    <h2>Macierz</h2>
    <p1>
    jest to tablica o wymierach m&times;n (gdzie m to liczba wierszy a n liczba kolmun)</p1>
    <h3>Dodawanie i odejmowanie macierzy</h3>
    <p1>Dodawanie/odejmowanie jest możliwe dla macierzy o takich samych wymiarach. Polega na dodawaniu/odejmowaniu odpowiednich elementów obu macierzy do siebie (o tych samych współrzednych).</p1>
    <h3>Macierz transponowana</h3>
    <p1>Macierz transponowaną A oznaczamy jako A<sup>T</sup> i powstaje ona przez zamiane wierzy na kolumny i kolmuny na wierzy macierzy A.</p1>
    <h3>Wyznacznik</h3>
    <p1>Wyznaczyk macierzy kwadratowej (liczba kolumn jest równa liczbie wierszy) zapisujemy jako det(A). 
    Jest to funkcja związana z mnożeniem i dodawaniem odpowiednich elementów danej macierzy tak, by otrzymać pojedynczą liczbę.</p1>
    <h3>Macierz odwrotna</h3>
    <p1>Macierz kwadratowa A jest odwracalna gdy istnieje istnieje macierz (A<sup>-1</sup>), taka, że A &sdot; A<sup>-1</sup> = I.
    Gdzie I jest macierzą identycznościową.</p1>

<footer>Projekt Technologie Informacyjne 2022 - Matematyka Stosowna</footer>
</body>
</html>