<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Kalkulator Macierzowy</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style1.css')}}">
</head>
<body>
    <header>
        <h1>Kalkulator Macierzowy</h1>
    </header>
    <table>
        <caption>Macierz A</caption>
        <tr>
            <td> <input type="number" name="cell1"></td>
            <td> <input type="number" name="cell2"></td>
            <td> <input type="number" name="cell3"></td> 
        </tr>
        <tr>
            <td> <input type="number" name="cell4"></td>
            <td> <input type="number" name="cell5"></td>
            <td> <input type="number" name="cell6"></td> 
        </tr>
        <tr>
            <td> <input type="number" name="cell7"></td>
            <td> <input type="number" name="cell8"></td>
            <td> <input type="number" name="cell9"></td> 
        </tr>
    </table>
    <table>
        <caption>Macierz B</caption>
        <tr>
            <td> <input type="number" name="kom1"></td>
            <td> <input type="number" name="kom2"></td>
            <td> <input type="number" name="kom3"></td> 
        </tr>
        <tr>
            <td> <input type="number" name="kom4"></td>
            <td> <input type="number" name="kom5"></td>
            <td> <input type="number" name="kom6"></td> 
        </tr>
        <tr>
            <td> <input type="number" name="kom7"></td>
            <td> <input type="number" name="kom8"></td>
            <td> <input type="number" name="kom9"></td> 
        </tr>
    </table>
    <footer>Projekt Technologie Informacyjne 2022 - Matematyka Stosowna</footer>
</body>
</html>