<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Kalkulator Macierzowy</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style1.css')}}">
</head>
<body>
    <header>
        <h1>Kalkulator Macierzowy</h1>
    </header>
    <form action="/handle_data" method="post">
        <table>
            <caption>Macierz A</caption>
            <tr>
                <td> <input type="text" id="cell1" name="cell1"></td>
                <td> <input type="text" id="cell2" name="cell2"></td>
                <td> <input type="text" id="cell3" name="cell3"></td> 
            </tr>
            <tr>
                <td> <input type="text" id="cell4" name="cell4"></td>
                <td> <input type="text" id="cell5" name="cell5"></td>
                <td> <input type="text" id="cell6" name="cell6"></td> 
            </tr>
            <tr>
                <td> <input type="text" id="cell7" name="cell7"></td>
                <td> <input type="text" id="cell8" name="cell8"></td>
                <td> <input type="text" id="cell9" name="cell9"></td> 
            </tr>
        </table>
        <table>
            <caption>Macierz B</caption>
            <tr>
                <td> <input type="text" id="kom1" name="kom1"></td>
                <td> <input type="text" id="kom2" name="kom2"></td>
                <td> <input type="text" id="kom3" name="kom3"></td> 
            </tr>
            <tr>
                <td> <input type="number" id="kom4" name="kom4"></td>
                <td> <input type="number" id="kom5" name="kom5"></td>
                <td> <input type="text" id="kom6" name="kom6"></td> 
            </tr>
            <tr>
                <td> <input type="text" id="kom7" name="kom7"></td>
                <td> <input type="text" id="kom8" name="kom8"></td>
                <td> <input type="text" id="kom9" name="kom9"></td> 
            </tr>
        </table>
        <p><input type="submit"  value="Submit"> </p>
    </form>
    <footer>Projekt Technologie Informacyjne 2022 - Matematyka Stosowna</footer>
</body>
</html>