<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Informacje o twórcach</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
</head>
<body>
    <div class="top">
        <h1>Twórcy</h1>
    </div>
   <h2>Dane kontaktowe:</h2>
   <h3>Bartłomiej Brzozowski</h3>
    <ul>
        <li>268746@student.pwr.edu.pl</li>
    </ul>
    <h3>Ignacy Nowakowski</h3>
    <ul>
        <li>268777@student.pwr.edu.pl</li>
    </ul>
    <h3>Radosław Tertel</h3>
    <ul>
        <li>268738@student.pwr.edu.pl</li>
    </ul>

    <footer>Projekt Technologie Informacyjne 2022 - Matematyka Stosowna</footer>
</body>
</html>
