<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Kalkulator Macierzowy</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style1.css')}}">
</head>
<body>
    <header>
        <h1>Kalkulator Macierzowy</h1>
    </header>
    <form action="#" method="post">
        <table>
            <caption>Macierz A</caption>
            <tr>
                <td> <input type="number" value="cell1"></td>
                <td> <input type="number" value="cell2"></td>
                <td> <input type="number" value="cell3"></td> 
            </tr>
            <tr>
                <td> <input type="number" value="cell4"></td>
                <td> <input type="number" value="cell5"></td>
                <td> <input type="number" value="cell6"></td> 
            </tr>
            <tr>
                <td> <input type="number" value="cell7"></td>
                <td> <input type="number" value="cell8"></td>
                <td> <input type="number" value="cell9"></td> 
            </tr>
        </table>
        <table>
            <caption>Macierz B</caption>
            <tr>
                <td> <input type="number" value="kom1"></td>
                <td> <input type="number" value="kom2"></td>
                <td> <input type="number" value="kom3"></td> 
            </tr>
            <tr>
                <td> <input type="number" value="kom4"></td>
                <td> <input type="number" value="kom5"></td>
                <td> <input type="number" value="kom6"></td> 
            </tr>
            <tr>
                <td> <input type="number" value="kom7"></td>
                <td> <input type="number" value="kom8"></td>
                <td> <input type="number" value="kom9"></td> 
            </tr>
        </table>
        <p><input type="submit" name="add"> </p>
    </form>
    <footer>Projekt Technologie Informacyjne 2022 - Matematyka Stosowna</footer>
</body>
</html>