<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="utf-8">
        <title>Kolejna podstrona</title>
       <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
    </head>
    <body>
        {% if nazwa is none %}

        <h1>Witaj nieznajomy!</h1>

        {% else %}

        <h1>Witaj {{nazwa}}</h1>

        {% endif %}
        {% if liczba is none %}

        <p>Niestety nie wiem jaka jest Twoja ulubiona liczba.</p>

        {% else %}

        <p>Twoja ulubiona liczba to {{liczba}}.</p>
        <p><img alt="wykres" src="{{rysunek}}" class="obrazek"></img></p>

        {% endif %}

        {% if content is none%}
            <p>Niestety nie wiem jaki jest Twój ulubiony plik.</p>
        {% else %}
            <p>Zawartość pliku:</p>
            <pre>
        {{content}}
            </pre>
        {% endif %}
    </body>
</html>
