<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <title>Strona na Zaliczenie</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Witamy Serdecznie!
        <p>Zdecydwoaliśmy się, jako projekt zaliczeniowy przedstawić prosty kalklulator macierzowy.</p>
        <p>W planie mieliśmy, by obsługiwał takie działanaia jak doadwanie/odejmowanie macierzy, transpozycje, liczenie wyznacznika, liczenie macierzy odwrotnej i rozwiązywanie prostego układu równań. </p>
        <p>Udało nam się spełnić wyznaczone cele. Aby przejść do działań na macierzach najpeirw trzeba na głównej stronie wejść w link do kalkulatora i podać wymiar macierzy, w założwniach projektu maksymaln wymiar to 5x5.</p>
    </h1>
    <h2>
    <a href="podstrona1.html">Kontakt</a>
    </h2>
    <h2>
    <a href="podstrona2.html" >Niezbędne Definicje</a>
    </h2>
    <h2>
    <a href="podstrona3.html">Kalkulator Macierzowy</a>
    </h2>
    <footer>Projekt Technologie Informacyjne 2022 - Matematyka Stosowna</footer>
</body>
</html>
